<%- include('../partials/_html-start.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="container my-3 mb-5">
  <section class="mb-3 br-25 overflow-hidden">
    <img src="https://img.freepik.com/free-vector/online-cinema-banner-with-open-clapper-board-film-strip_1419-2242.jpg?w=2000" alt="" class="img-fluid">
  </section>

  <div class="row">

    <h1 class="h3 text-primary">Fimler</h1>
    <% movies.forEach(m => { %>
      <div class="col-xxl-2 col-lg-3 col-md-4 col-6 mb-3">
        <a href="/movie-detail/<%= m._id %>">
          <div class="movie-card">
            <img src="<%= m.image %>" alt="" class="img-fluid">
            <h1 class="movie-card-title"><%= m.name %></h1>
          </div>
        </a>
      </div>
    <% }) %>

  </div>
</main>

<%- include('../partials/_footer.ejs') %>
<%- include('../partials/_html-finish.ejs') %>